@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --line-color: #e5e7eb;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

.borderBlack {
    @apply border border-black/10;
}